.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-assessment {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -33px -74px;
}
.icon-bottom-next {
    width: 33px;
    height: 17px;
    background: url(icon-1600182554149.png) 0px -74px;
}
.icon-chat {
    width: 21px;
    height: 20px;
    background: url(icon-1600182554149.png) 0px -91px;
}
.icon-customs-type-0 {
    width: 40px;
    height: 18px;
    background: url(icon-1600182554149.png) -40px -38px;
}
.icon-customs-type-1 {
    width: 40px;
    height: 18px;
    background: url(icon-1600182554149.png) 0px -56px;
}
.icon-customs-type-2 {
    width: 40px;
    height: 18px;
    background: url(icon-1600182554149.png) 0px -38px;
}
.icon-data {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -49px -74px;
}
.icon-dropmenu {
    width: 16px;
    height: 10px;
    background: url(icon-1600182554149.png) -78px -111px;
}
.icon-exit-full {
    width: 20px;
    height: 20px;
    background: url(icon-1600182554149.png) -21px -91px;
}
.icon-financial {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -81px -74px;
}
.icon-go-back {
    width: 24px;
    height: 19px;
    background: url(icon-1600182554149.png) -96px -50px;
}
.icon-hint {
    width: 14px;
    height: 13px;
    background: url(icon-1600182554149.png) -64px -111px;
}
.icon-icon-close {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -65px -74px;
}
.icon-index-icon1 {
    width: 16px;
    height: 14px;
    background: url(icon-1600182554149.png) -48px -111px;
}
.icon-index {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -95px -91px;
}
.icon-inventory {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -80px -38px;
}
.icon-large-size {
    width: 18px;
    height: 18px;
    background: url(icon-1600182554149.png) -59px -91px;
}
.icon-large-to-more {
    width: 10px;
    height: 16px;
    background: url(icon-1600182554149.png) -120px -59px;
}
.icon-logout {
    width: 18px;
    height: 18px;
    background: url(icon-1600182554149.png) -77px -91px;
}
.icon-member {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -97px -74px;
}
.icon-message {
    width: 18px;
    height: 18px;
    background: url(icon-1600182554149.png) -41px -91px;
}
.icon-monitor {
    width: 13px;
    height: 19px;
    background: url(icon-1600182554149.png) -120px -40px;
}
.icon-my-position {
    width: 24px;
    height: 36px;
    background: url(icon-1600182554149.png) -72px 0px;
}
.icon-other-position {
    width: 18px;
    height: 26px;
    background: url(icon-1600182554149.png) -96px -24px;
}
.icon-page-go-back {
    width: 13px;
    height: 20px;
    background: url(icon-1600182554149.png) -120px 0px;
}
.icon-position-default {
    width: 34px;
    height: 34px;
    background: url(icon-1600182554149.png) -38px 0px;
}
.icon-position-hover {
    width: 38px;
    height: 38px;
    background: url(icon-1600182554149.png) 0px 0px;
}
.icon-project {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) 0px -111px;
}
.icon-search-btn {
    width: 24px;
    height: 24px;
    background: url(icon-1600182554149.png) -96px 0px;
}
.icon-sys {
    width: 16px;
    height: 16px;
    background: url(icon-1600182554149.png) -16px -111px;
}
.icon-to-largesize {
    width: 19px;
    height: 16px;
    background: url(icon-1600182554149.png) -73px -56px;
}
.icon-to-more {
    width: 13px;
    height: 20px;
    background: url(icon-1600182554149.png) -120px -20px;
}
.icon-top-next {
    width: 33px;
    height: 17px;
    background: url(icon-1600182554149.png) -40px -56px;
}
.icon-warning {
    width: 16px;
    height: 15px;
    background: url(icon-1600182554149.png) -32px -111px;
}
