@charset "UTF-8";
p {
  margin: 0;
}

.container {
  padding: 10px;
  /* 弹窗部分 */
}

.container .main {
  min-height: 700px;
  padding: 0;
  position: relative;
}

.container .main .row-choose {
  height: 100px;
  background-color: #fff;
  overflow: hidden;
}

.container .main .row-choose .form {
  margin-top: 30px;
}

.container .main .row-choose .form .radio {
  margin-right: 20px;
}

.container .main .row-detail {
  min-height: 400px;
  margin-top: 10px;
  background-color: #fff;
}

.container .main .row-detail .title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
  font-size: 15px;
  color: #222222;
  line-height: 60px;
  padding-left: 20px;
  font-weight: bold;
}

.container .main .row-detail .illustrate {
  width: 100%;
  max-height: 135px;
  margin-top: 30px;
  overflow: hidden;
}

.container .main .row-detail .illustrate label {
  margin-left: 155px;
  font-size: 15px;
  color: #666666;
  float: left;
}

.container .main .row-detail .illustrate .content {
  width: 900px;
  max-height: 130px;
  font-size: 15px;
  color: #222222;
  overflow: auto;
  white-space: pre-wrap;
  margin-left: 15px;
  float: left;
}

.container .main .row-detail .riskTest {
  width: 100%;
  height: 25px;
  margin-top: 20px;
}

.container .main .row-detail .riskTest label {
  margin-left: 125px;
  font-size: 15px;
  color: #666666;
  float: left;
}

.container .main .row-detail .riskTest p {
  width: 900px;
  height: 20px;
  font-size: 15px;
  color: #222222;
  margin-left: 20px;
  float: left;
}

.container .main .row-detail .riskLevel {
  width: 100%;
  height: 150px;
  margin-top: 20px;
}

.container .main .row-detail .riskLevel label {
  margin-left: 20px;
  font-size: 15px;
  color: #666666;
  float: left;
}

.container .main .row-detail .riskLevel .levelBox {
  width: 900px;
  height: 125px;
  margin-left: 15px;
  float: left;
}

.container .main .row-detail .riskLevel .levelBox p {
  font-size: 15px;
  color: #222222;
}

.container .main .row-detail .orgUseList {
  width: 100%;
  height: 45px;
  margin-top: 20px;
}

.container .main .row-detail .orgUseList label {
  margin-left: 110px;
  font-size: 15px;
  color: #666666;
  float: left;
}

.container .main .row-detail .orgUseList span {
  font-size: 15px;
  color: #222222;
  margin-left: 15px;
  float: left;
}

.container .main .row-flow {
  height: 700px;
  margin-top: 10px;
  background-color: #fff;
}

.container .main .row-flow .title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
  font-size: 15px;
  color: #222222;
  line-height: 60px;
  padding-left: 20px;
  font-weight: bold;
}

.container .main .row-flow .flowBox {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.container .main .row-flow .flowBox img {
  width: 500px;
  height: 600px;
  margin: 0 0 0 10%;
}

.container .main .btnBox {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.container .main .btnBox .cancel {
  margin-right: 60px;
}

.container .infoBox {
  min-height: 50px;
  padding-left: 50px;
}

.container .infoBox .title {
  font-size: 16px;
  float: left;
  margin-right: 20px;
}

.container .infoBox .title .blue {
  color: #409EFF;
}

.container .infoBox .title .red {
  color: red;
}

.container .metionBox {
  margin: 0 auto;
  min-height: 40px;
  margin-left: 20px;
  padding-left: 70px;
}

.container .metionBox .metions .metion {
  width: 70%;
  font-size: 16px;
  float: left;
}

.container .metionBox .metions .img_ {
  width: 10%;
  height: 10%;
  float: left;
  margin-left: 20px;
}
/*# sourceMappingURL=compliance.css.map */