.container{
    padding: 10px;
    .head{
        height: 60px;
        background-color: #fff;
    }
    .main{
        margin-top: 10px;
        min-height: 700px;
        background-color: #fff;
        .searchBtn{
            margin-right: 75%;
        }
        .table{
            .red{
                color: #ff0033;
            }
        }
    }
    .footer{
        text-align: center;
        margin-top: 10px;
    }
}